<!DOCTYPE html>
<header class="intro">
<html>
    <head>
        <meta charset="utf-8">
        <title>Répertoire téléphonique</title>
        <link rel="stylesheet" href="{{url_for('static', filename='super.css')}}">
    </head>
    <body>
    <center>
        <h1 id="para">REPERTOIRE TELEPHONIQUE</h1>
        <h2 id="para2">Ajouter un numéro</h2>
        <form action="{{ url_for('gfg')}}" method="post">
            <input type="text" id="nomid" name="nomm" placeholder="Nom"><br>
            <input type="text" id="numid" name="numm" placeholder="Numéro"><br><br>
            <button type="submit">Valider</button>
            <p><a href="{{ url_for('index') }}">Retour au menu principal</a></p>
        </form>
    </center>
    </body>
</html>
</header>